  <div class="container text-center">
    <div class="Intro">
      <h1>Serena Chang</h1>
      <h1>Interactive resume</h1>
    </div>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar-right ">
    <ul class="list">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </nav>
      <div id="profile" >
      <h2>Profile</h2>
      <p class="lead">I'm on my way to become a Ruby on Rails developer.</p>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <h3>About me</h3>
          <p>
            I love to challenge myself and started learning how to code
            as a hobby, a reason why I became a website engineer.
          </p>
          <p>
            I like to work in teams to learn and inspire each other, but I am also able to problem solve on my own. 
          </p>
          <p>
            The quality of a project is very important to me. Attention to detail and optmising the look and feel of web apps are essential qualities I would bring to each project.  
          </p>
        </div>
        <div class="col-md-4 ">
          <img src="/images/profileimg.jpg" />
        </div>
        <div class="col-md-4">
          <h3>Details</h3>
          <p>
           Name:<br>
            <strong>Serena Chang</strong><br>
            Age:<br>
            <strong>31 years</strong><br>
            Location:<br>
            <strong>Taipei Taiwan</strong> </p>
        </div>
      </div>
    </div>
    <div id="experience">
      <h3 class="color">Experience</h3>
    </div>
    <div class="projects">
      <h3 class="color">Projects</h3>
    </div>
    <div class="contact">
        <h3 class="color">Contact</h3>
    </div>
  </div>
</div>
  
    